<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<title>Request - Gestion de requete</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700%7cUbuntu:400,700" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}  ">
	<!-- include the site stylesheet -->
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href=" {% static 'css/plugin-resets.css' %} ">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
</head>

<body>
        
    <div id="wrapper">

        {% block content %}
        
        {% endblock content %}

        <main id="main">
            {% block main %}
            
            {% endblock main %}
        </main>


		{% block footer %}
            
		{% endblock footer %}

    </div>

    <script src=" {% static 'js/jquery.js' %} "></script>
    <script src=" {% static 'js/plugins.js' %} " defer></script>
    <script src="{% static 'js/jquery.main.js' %}" defer></script>
</body>
</html>