{% extends 'base.html' %}
{% load static %}

{% block content %}

{% comment %} {% include 'parts/navbar.html' %}
{% include 'parts/popup.html' %} {% endcomment %}
{% comment %} <br>
<h1> hello {{ user.username }} your role is student</h1> {% endcomment %}
<section class="bg-img-full price-section" style="background-image: url({% static 'images/img02.jpg' %}); padding-top: 20px;" data-scroll-index="4">
    <div class="container">
        <!-- main heading start here -->
        <header class="main-heading row">
            <div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center">
                <h2 class="heading text-uppercase"><span class="main-color">Modeles</span> plus utiliser</h2>
                <span class="divider center"></span>
                <p style="margin-bottom: -45px">Grande famille de requete et quelque probleme frequement rancontrer par les  etudiants</p>
            </div>
        </header>
        <!-- main heading end here -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 pad-bottom-sm">
                <!-- price box start here -->
                <div class="price-box" style="box-shadow: #698cf0 0px 2px 8px 0px;">
                    <header class="header">
                        <strong class="title text-uppercase">Notes</strong>
                        <span class="price-txt">
                            {% comment %} <span class="price main-color">125</span> {% endcomment %}
                            <span class="txt">Modeles pour gérer tous vos probleme de note</span>
                        </span>
                        {% comment %} <p>Gerer tous vos probleme de note</p> {% endcomment %}
                    </header>
                    <div class="box">
                        <h3 class="text-uppercase">Absence de note</h3>
                        <span class="divider"></span><br>
                        <p>Vous avez composer un examen (controle continue, travaux pratique, session normale, ...) et votre note n'est pas sortie, ...</p>
                        <a href="{% url 'request:NoteRequest' %}">utiliser ce modèle</a>
                    </div>
                </div>
                <!-- price box end here -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 pad-bottom-sm">
                <!-- price box start here -->
                <div class="price-box" style="box-shadow: #698cf0 0px 2px 8px 0px;">
                    <header class="header">
                        <strong class="title text-uppercase">Information</strong>
                        <span class="price-txt">
                            {% comment %} <span class="price main-color">225</span> {% endcomment %}
                            <span class="txt">Modeles pour gérer toutes les erreur lie a vos informations</span>
                        </span>
                        {% comment %} <p>Gerer toutes les erreur lie a vos informations</p> {% endcomment %}
                    </header>
                    <div class="box">
                        <h3 class="text-uppercase">PROBLEME SUR LES INFORMATIONS</h3>
                        <span class="divider"></span>
                        <p>Les listes definitive sont sorite votre nom est mal ecrit, vous n'etes pas dans la filiere choisi, ...</p>
                        <a href="#">Utiliser ce modele</a>
                    </div>
                </div>
                <!-- price box end here -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 pad-bottom-sm">
                <!-- price box start here -->
                <div class="price-box" style="box-shadow: #698cf0 0px 2px 8px 0px;">
                    <header class="header">
                        <strong class="title text-uppercase">Audience</strong>
                        <span class="price-txt">
                            {% comment %} <span class="price main-color">325</span> {% endcomment %}
                            <span class="txt">Modele pour Faites une demande d'audience</span>
                        </span>
                        {% comment %} <p>Faites une demande d'audience</p> {% endcomment %}
                    </header>
                    <div class="box">
                        <h3 class="text-uppercase">Demande d'evaluation</h3>
                        <span class="divider"></span>
                        <p>Vous avez été absent lors d'une evaluation pour une raison ou une autre vous aimeriez qu'on puisse vous reévaluer,<br>...</p>
                        <a href="#">Utiliser ce modele</a>
                    </div>
                </div>
                <!-- price box end here -->
            </div>
        </div>
    </div>
</section>

{% endblock content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student page</title>
</head>
<body>
    <h1> hello {{ user.username }} your role is student</h1>
</body>
</html>