<button id="modal-error" type="button" class="btn btn-primary d-none" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

        <div class="alert alert-danger" role="alert">
            <div style="display: flex;justify-content: space-between;">
                <h5 class="modal-title" id="exampleModalLabel">Erreur</h5>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p>Veillez remplir tous les champs obligatoires(possedant <span style="display: inline; color: red">*</span>)</p>
        </div>
  </div>
</div>