{% load static %}


			<!-- main banner section start here -->
			<section id="home-rm" class="bg-img-full main-banner bg-img-parallax" style="background-image: url(http://placehold.it/1920x1080);" data-scroll-index="0">
				<span class="overlay"></span>
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-7">
							<span class="title">Gerez vos requete de maniere automatique</span>
							<h1 class="heading text-uppercase">Commencer avec<span class="main-color"> Request Manager</span></h1>
							<span class="divider white"></span>
							<div class="btn-holder">
								<a href="#" class="btn btn-default main-bg-color text-uppercase" data-scroll-nav="2">Voir plus</a>
							</div>
							<span class="arrow" style="background-image: url({% static 'images/arrow.png' %});"></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-5">
							{% comment %} {% include 'parts/login.html' %} {% endcomment %}
							{% include 'login.html' %}
						</div>
					</div>
				</div>
			</section>
			<!-- main banner section end here -->
			