{% load static %}
			<!-- services section starts here -->
			<section class="services-section pad-top-lg pad-bottom-sm" data-scroll-index="3">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-6 col-md-push-6 pad-bottom-sm">
							<div class="txt-box">
								<!-- main heading start here -->
								<header class="main-heading">
									<h2 class="heading text-uppercase"><span class="main-color">Pourquoi</span>  Request Manager</h2>
									<span class="divider"></span>
									<p>Request Manager est le systeme qui vas automatiser le processus de gestion de vos requetes que vous soyer etudiant ou responsable (Douaen, chef de departement, president de jury, ...)</p>
								</header>
								<ul class="list list-unstyled">
									<li><i class="fa fa-caret-right main-color" aria-hidden="true"></i>Plus de paperasse</li>
									<li><i class="fa fa-caret-right main-color" aria-hidden="true"></i>Gain en temps</li>
									<li><i class="fa fa-caret-right main-color" aria-hidden="true"></i>Tracabiliter des requetes</li>
									<li><i class="fa fa-caret-right main-color" aria-hidden="true"></i>Notification automatique</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-md-6 col-md-pull-6 pad-bottom-sm">
							<!-- services box start here -->
							<ul class="services-box list-unstyled text-center" style="background-image: url(http://placehold.it/550x460);">
								<li>
									<div class="over">
										<span class="icomoon icon-document main-color"></span>
										<span class="title text-uppercase main-color">Rapiditer</span>
										<span class="divider white center"></span>
										<p>Vous serez notifier en temps reel de l'evolution de vos requete, notament lors des tranfert. finis les course entre bureau d'enseignant.</p>
									</div>
								</li>
								<li>
									<div class="over">
										<span class="icomoon icon-mobile main-color"></span>
										<span class="title text-uppercase main-color">Economie</span>
										<span class="divider white center"></span>
										<p>Ne depenser plus en temps et en argent pour l'achat des formats ou l'attente des enseignants. </p>
									</div>
								</li>
								<li>
									<div class="over">
										<span class="icomoon icon-layers main-color"></span>
										<span class="title text-uppercase main-color">Simpliciter</span>
										<span class="divider white center"></span>
										<p>Poser votre probleme en trois clique et finie les etages des requetes dans vos bureau et a la maison</p>
									</div>
								</li>
								<li>
									<div class="over">
										<span class="icomoon icon-gears main-color"></span>
										<span class="title text-uppercase main-color">Tracabiliter</span>
										<span class="divider white center"></span>
										<p>Toutes les modifications faites sur vos requete seront toujour disponible et a tous moments.</p>
									</div>
								</li>
							</ul>
							<!-- services box end here -->
						</div>
					</div>
				</div>
			</section>
			<!-- services section end here -->
			