{% load static %}

			<!-- counter section start here -->
			<div class="counter-section text-center bg-img-full pad-top-lg pad-bottom-lg" style="background-image: url({% static 'images/img04.jpg' %});" data-scroll-index="2">
				<div class="container pad-top-xs">
					<div class="row">
						<div class="co-xs-12 col-sm-3 pad-bottom-xs">
							<span class="counter main-color">246</span>
							<span class="txt text-uppercase">Modeles de requete</span>
						</div>
						<div class="co-xs-12 col-sm-3 pad-bottom-xs">
							<span class="counter main-color">390</span>
							<span class="txt text-uppercase">Enseignant</span>
						</div>
						<div class="co-xs-12 col-sm-3 pad-bottom-xs">
							<span class="counter main-color">56</span>
							<span class="txt text-uppercase">Etudiant</span>
						</div>
						<div class="co-xs-12 col-sm-3 pad-bottom-xs">
							<span class="counter main-color">470</span>
							<span class="txt text-uppercase">Requete</span>
						</div>
					</div>
				</div>
			</div>
			<!-- counter section end here -->
			