	{% load static %}
			<!-- price section start here -->
			<section class="bg-img-full price-section pad-top-lg pad-bottom-sm" style="background-image: url({% static 'images/img02.jpg' %});" data-scroll-index="4">
				<div class="container">
					<!-- main heading start here -->
					<header class="main-heading row">
						<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center">
							<h2 class="heading text-uppercase"><span class="main-color">Modeles</span> plus utiliser</h2>
							<span class="divider center"></span>
							<p>Grande famille de requete et quelque probleme frequement rancontrer par les  etudiants</p>
						</div>
					</header>
					<!-- main heading end here -->
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 pad-bottom-sm">
							<!-- price box start here -->
							<div class="price-box">
								<header class="header">
									<strong class="title text-uppercase">Notes</strong>
									<span class="price-txt">
										<span class="price main-color">125</span>
										<span class="txt"> /    Modeles</span>
									</span>
									<p>Gerer tous vos probleme de note</p>
								</header>
								<div class="box">
									<h3 class="text-uppercase">Absence de note</h3>
									<span class="divider"></span>
									<p>Vous avez composer un examen (controle continue, travaux pratique, session normale, ...) et votre note n'est pas sortie, ...</p>
									<a href="#popup1" class="order text-uppercase lightbox">utiliser ce modèle</a>
								</div>
							</div>
							<!-- price box end here -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 pad-bottom-sm">
							<!-- price box start here -->
							<div class="price-box">
								<header class="header">
									<strong class="title text-uppercase">Information</strong>
									<span class="price-txt">
										<span class="price main-color">225</span>
										<span class="txt"> /    Modeles</span>
									</span>
									<p>Gerer toutes les erreur lie a vos informations</p>
								</header>
								<div class="box">
									<h3 class="text-uppercase">single people User</h3>
									<span class="divider"></span>
									<p>Les listes definitive sont sorite votre nom est mal ecrit, vous n'etes pas dans la filiere choisi, ...</p>
									<a href="#popup1" class="order text-uppercase lightbox">Utiliser ce modele</a>
								</div>
							</div>
							<!-- price box end here -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 pad-bottom-sm">
							<!-- price box start here -->
							<div class="price-box">
								<header class="header">
									<strong class="title text-uppercase">Audience</strong>
									<span class="price-txt">
										<span class="price main-color">325</span>
										<span class="txt"> /    Modeles</span>
									</span>
									<p>Faites une demande d'audience</p>
								</header>
								<div class="box">
									<h3 class="text-uppercase">Demande d'evaluation</h3>
									<span class="divider"></span>
									<p>Vous avez ete absent lors d'une evaluation pour une raison ou une autre vous aimeriez composer,...</p>
									<a href="#popup1" class="order text-uppercase lightbox">Utiliser ce modele</a>
								</div>
							</div>
							<!-- price box end here -->
						</div>
					</div>
				</div>
			</section>
			<!-- price section end here -->
		