<div class="modal fade bd-example-modal-lg" id="modal-data-error" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

        <div class="alert alert-danger" role="alert">
            <div style="display: flex;justify-content: space-between;">
                <h5 class="modal-title" id="exampleModalLabel">Erreur</h5>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p>Les champs notes doivent contenir des nombres inferieur a 20</p>
        </div>
  </div>
</div>