{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Utilisé un modele de rectification de note</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">


        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/icon.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/x-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/summernote/summernote-bs4.css' %}" rel="stylesheet">
        <link href="{% static 'css/upload_file.css' %}" rel="stylesheet">


        <style>
            #files-area {
                width: 30%;
                margin: 0 auto;
              }
              
              .file-block {
                border-radius: 10px;
                background-color: rgba(144, 163, 203, 0.2);
                margin: 5px;
                color: initial;
                display: inline-flex;
              }
              .file-block > div.name {
                padding-right: 10px;
                width: max-content;
                display: inline-flex;
              }
              
              .file-delete {
                display: flex;
                width: 24px;
                color: initial;
                background-color: #6eb4ff00;
                font-size: large;
                justify-content: center;
                margin-right: 3px;
                cursor: pointer;
              }
              .file-delete:hover {
                background-color: rgba(144, 163, 203, 0.2);
                border-radius: 10px;
              }
              .file-delete > span {
                transform: rotate(45deg);
              }
        </style>

    </head>
    <body>
        

        {% include 'note-request/modal_error.html' %}
        {% include 'note-request/modal_error_data.html' %}


        <div class="container  py-4">
            <div class="container col-12 row d-flex justify-content-between">
                <div>
                    <p style="margin-bottom: 0px;">Nom: <span class="font-weight-bold text-capitalize"> {{ student.last_name }}</sppan></p>
                    <p style="margin-bottom: 0px;">Prenom: <span class="font-weight-bold text-capitalize"> {{ student.first_name }}</span></p>
                    <p style="margin-bottom: 0px;">Matricule: <span class="font-weight-bold text-capitalize">{{ student.matricule }}</span></p>
                    <p style="margin-bottom: 0px;">Email: <span class="font-weight-bold">{{ student.email }}</span></p>
                    <p style="margin-bottom: 0px;">Niveau: <span class="font-weight-bold">{{ student.niveau }}</span></p>
                    <p style="margin-bottom: 0px;">Filiere: <span class="font-weight-bold">{{ student.filiere }}</span></p>
                    <p style="margin-bottom: 0px;">Télephone: <span class="font-weight-bold">{{ student.phone }}</span></p>
                </div>
                <div>
                    <div class="justify-content-end">
                        {% language 'fr' %}
                            <p style="font-weight: bold" class="flex-row-reverse d-flex">date: Le, {{current_date}}</span></p>
                        {% endlanguage %}

                        <a href="#" id="teacher" data-type="select" data-pk="1" tyle="color: rgb(95, 190, 170); background-color: rgba(0, 0, 0, 0);">A qui la requete s'adresse?
                            <span style="display: inline; color: red">*</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="d-flex col-6 pl-0 py-4">
                <h5 class="mr-2">Objet:  </h5>
                <span class="font-weight-bold" id="objet">Demande de revision de note</span>
            </div>


            <section class="">
                <div class="container py-3 ">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 p-0">
              
                      <figure class="bg-light p-4"
                        style="border-left: .35rem solid red; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
                        <i class="fas fa-quote-left fa-2x mb-4" style="color: red;"></i>
                        <blockquote class="blockquote pb-2">
                            <p>
                                Lors de la sortie de note de 
                                <a href="#" data-type="select" data-placement="type d'examen" id="examen">type d'examen
                                    <span style="display: inline; color: red">*</span>
                                </a>
                                {% comment %} type examen {% endcomment %}
                                de l'unite d'enseignement <a href="#" id="ue" data-type="text" data-placement="right" data-title="">UE
                                    <span style="display: inline; color: red">*</span>
                                </a>
                                {% comment %} unite d'enseignemen {% endcomment %}, 
                                j’ai remarque une difference entre ma note et la note qui est sur les resultat definitif.
                                En effet j'ai eu la note de 
                                {% comment %} note sur la copie {% endcomment %} 
                                 
                                <a href="#" id="note2" data-type="text" data-placement="right" data-title="">ma note
                                    <span style="display: inline; color: red">*</span>
                                </a>
                                /20
                                hors sur les resultats on a mis la note de 
                                {% comment %} mauvaise note {% endcomment %}
                                <a href="#" id="note1" data-type="text" data-placement="right" data-title="">note donnee
                                    <span style="display: inline; color: red">*</span>
                                </a>/20

                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0">
                            <cite title="Source Title">important</cite>
                        </figcaption>
                      </figure>
              
                    </div>
                  </div>
                </div>
            </section>
              


            <div class="form-group">
                <h5>
                    <label for="comment">Decrivez votre probleme<span style="display: inline; color: red">*</span></label>
                </h5>
            </div>

            <div id="summernote">
            </div>

            
              <section class="container  py-4">
                <form action="" method="post" id="upload_form">
                    <div id="id_image" class="row" style="background-color:; padding-top: 1px; padding-bottom: 1px; padding-left:5px; margin-bottom: 10px; display:flex; justify-content: space-between;">
                        <h4 style="color:#111">Pieces jointes</h4>

                            <label for="attachment">
                                <a class="btn btn-primary text-light" role="button" aria-disabled="false">+ Ajouter une pièce jointe</a>
                            </label>
                            <input type="file" name="file[]" accept=".pdf,.png,.jpg,.jpeg" id="attachment" style="visibility: hidden; position: absolute;" multiple/>
                        
                    </div>
                    <div id="files-area" style="margin: 0;">
                        <span id="filesList">
                            <span id="files-names"></span>
                        </span>
                    </div>
                </form>
            </section>

            <div class="container col-12 row" style="margin-righ: 100px">
                <div class="" style="display: flex; flex-wrap: wrap; margin: 2px;">

                    {% for item in template.request_image.all %}
                        {% if item.image_url is not None %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <a href="#" class="thumbnail" style="margin: 10px 10px 10px 10px;">
                                    <img src="{{ item.image_url }}" width="100%" alt="...">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="container row d-flex flex-row-reverse">
                <button type="button" class="btn btn-success" id="save">Enregistrer</button>
                <button type="button" class="btn btn-danger mr-3" id="cancel">Annuler</button>
            </div>
        </div>
  
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'plugins/moment/moment.js' %}" type="text/javascript"></script>
        <script src="{% static 'plugins/x-editable/js/bootstrap-editable.min.js' %}" type="text/javascript"></script> 
        <script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}" type="text/javascript"></script> 
        <script src="{% static 'plugins/summernote/summernote-fr-FR.min.js' %}" type="text/javascript"></script> 
        <script>

            var ue = null;
            var note1 = null;
            var note2 = null;
            var teacher = null;
            var exam = null;
            var comment = null;
            var existant = 1;



            $('#summernote').summernote({
                placeholder: 'En effet je suis...',
                tabsize: 6,
                height: 300,
                lang: "fr-FR",

                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    //['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture',]],
                    ['view', ['fullscreen',]]
                ]
            });


            $(document).ready(function() {

                //get teacher
                var resps = [];
                var current_resp = -1;
            
                {% for teachers in teacher %}
                    resps.push({value: {{ teachers.id }}, text: '{{ teachers }} -- {{ teachers.email }}'}),
                
                    {% if template.responsable.id == teachers.id %}
                        current_resp = '{{ teachers.id }}';
                    {% endif %}
                {% endfor %}

                $('#note1').editable({
                    mode: 'inline',
                    inputclass: 'form-control-sm',
                    //value: {{template.note1}},
                    validate: function (value) {
                        if ($.trim(value) == '') return 'Le champ est requis';
                        note1 = parseInt(value);
                    },
                });
                $('#ue').editable({
                    mode: 'inline',
                    inputclass: 'form-control-sm',
                    //value: {{template.note1}},
                    validate: function (value) {
                        if ($.trim(value) == '') return 'Le champ est requis';
                        ue = value;
                    },
                });
                $('#note2').editable({
                    validate: function (value) {
                        if ($.trim(value) == '') return 'Le champ est requis';
                        note2 = parseInt(value);
                    },
                    //value:{{template.note2}},
                    mode: 'inline',
                    inputclass: 'form-control-sm',
                });
                $('#teacher').editable({
                    prepend: "selectionner un responsable",
                    mode: 'inline',
                    inputclass: 'form-control-sm',
                    //value: current_resp == -1 ? undefined : current_resp,
                    source: resps,

                    validate: function (value) {
                        console.log(value)
                        if ($.trim(value) == '') return 'Le champ est requis';
                        teacher = value
                    },
                });
                $('#examen').editable({

                    prepend: "type d'examen",
                    mode: 'inline',
                    inputclass: 'form-control-sm',
                    //value: null,
                    source: [
                        {value: "CC", text: 'CC'},
                        {value: "TP", text: 'TP'},
                        {value: "SN", text: 'SN'}
                    ],

                    validate: function (value) {
                        if ($.trim(value) == '') return 'Le champ est requis';
                        exam = value
                    },
                });


                const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file
                $("#attachment").on('change', function(e){
                    for(var i = 0; i < this.files.length; i++){
                        let fileBloc = $('<div/>', {class: 'file-block'}),
                            fileName = $('<span/>', {class: 'name', text: this.files.item(i).name});
                        fileBloc.append('<span class="file-delete" style="margin-left: 10px"><span>+</span></span>')
                            .append(fileName);
                        $("#filesList > #files-names").append(fileBloc);
                    };
                    // Ajout des fichiers dans l'objet DataTransfer
                    for (let file of this.files) {
                        dt.items.add(file);
                    }
                    // Mise à jour des fichiers de l'input file après ajout
                    this.files = dt.files;

                    // EventListener pour le bouton de suppression créé
                    $('span.file-delete').click(function(){
                        let name = $(this).next('span.name').text();
                        // Supprimer l'affichage du nom de fichier
                        $(this).parent().remove();
                        for(let i = 0; i < dt.items.length; i++){
                            // Correspondance du fichier et du nom
                            if(name === dt.items[i].getAsFile().name){
                                // Suppression du fichier dans l'objet DataTransfer
                                dt.items.remove(i);
                                continue;
                            }
                        }
                        // Mise à jour des fichiers de l'input file après suppression
                        document.getElementById('attachment').files = dt.files;
                    });
                });


                $("#save").click(function() {
                    event.preventDefault();

                    comment = $("#summernote").summernote("code");
                    console.log(ue, note1, note2, teacher, exam, objet.innerText)

                    if (
                        ue == null || ue == "" ||
                        note1 == null || note1 == "" ||
                        note2 == null || note2 == "" ||
                        teacher == null ||
                        exam == null || exam == ""
                    ) {
                        $('#modal-error').modal('show'); 
                    }else if (isNaN(note1) || isNaN(note2) || note1 > 20 || note2 > 20) {
                        $('#modal-data-error').modal('show'); 
                    }else{

                        let form = new FormData();
                        let current_uri = new URL(document.URL);
                        let request_uri =   "{% url 'request:operation_requete' %}";
                        let req_id = current_uri.searchParams.get("req");
                        comment = $("#summernote").summernote("code");
                    
                        form.append("examen", exam);
                        form.append("object", objet.innerText);
                        form.append("note1", note1);
                        form.append("note2", note2);
                        form.append("comment", comment);
                        form.append("responsable", teacher);
                        form.append("existant", existant);
                        form.append("ue", ue);

                        url_request = current_uri.origin+"/operation_requete/";

                        let request = new Request(
                                            url_request, 
                                            {
                                                method: 'POST',
                                                body: form,
                                                headers: {
                                                    "X-CSRFToken": getCookie("csrftoken"),
                                                }
                                            }
                                        );
                        fetch(request).then(response => {
                            return response.json()
                        }).then(data => {
                            if (typeof dt.files !== "undefined") {
                                var files = dt.files;
                                const tab = [...files]

                                tab.forEach(async (elt) => {
                                    let content = new FormData();
                                    content.append("file[]", elt);

                                    let request_image = new Request("/request_asset/?request="+data["id"], {method: 'POST',
                                        body: content,
                                        headers: {
                                            "X-CSRFToken": getCookie("csrftoken"),
                                        }
                                    });
                                    
                                    await fetch(request_image).then(response => {
                                        response.json()
                                    })
                                })
                                
                            }

                            window.location.href = current_uri.origin+"/preview/"+data["id"]+"/"
                        })
                    }
                });


                function getCookie(name) {
                    let cookieValue = null;

                    if(document.cookie && document.cookie != "") {
                        const cookies = document.cookie.split(";");
                        
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();

                            if (cookie.substring(0, name.length+1) === name+"=") {
                                cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
            });

        </script>
    </body>
</html>