{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Utilisé un modele vide</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/icon.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/x-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/summernote/summernote-bs4.css' %}" rel="stylesheet">
        <link href="{% static 'css/upload_file.css' %}" rel="stylesheet">
       
        {% include 'request/follow_part/part_style.html' %}

    </head>
    <body>
        

        {% include 'empty_template/modal_join_piece.html' %}
        {% include 'request/follow_part/modal_share.html' %}
        {% include 'request/follow_part/modal_end.html' %}


        <div class="container  py-4">
            <div class="container col-12 row d-flex justify-content-between">
                <div>
                    <p style="margin-bottom: 0px;">Nom: <span class="font-weight-bold text-capitalize"> {{ template.student.last_name }}</sppan></p>
                    <p style="margin-bottom: 0px;">Prenom: <span class="font-weight-bold text-capitalize"> {{ template.student.first_name }}</span></p>
                    <p style="margin-bottom: 0px;">Matricule: <span class="font-weight-bold text-capitalize">{{ template.student.matricule }}</span></p>
                    <p style="margin-bottom: 0px;">Email: <span class="font-weight-bold">{{ template.student.email }}</span></p>
                    <p style="margin-bottom: 0px;">Niveau: <span class="font-weight-bold">{{ template.student.niveau }}</span></p>
                    <p style="margin-bottom: 0px;">Filiere: <span class="font-weight-bold">{{ template.student.filiere }}</span></p>
                    <p style="margin-bottom: 0px;">Télephone: <span class="font-weight-bold">{{ template.student.phone }}</span></p>
                </div>
                <div>
                    <div class="justify-content-end">
                        {% language 'fr' %}
                            <p class="flex-row-reverse d-flex"><span>Le <span class="font-weight-bold">{{ template.publish_date }}</span></span></p>
                        {% endlanguage %}

                        <p>A <span class="font-weight-bold">{{ template.responsable }}</p>
                    </div>
                </div>
            </div>

            <div>
                <hr>
            </div>

            <div class="d-flex col-6 pl-0">
                <h5 class="mr-2">Objet:  </h5><span class="font-weight-bold">{{template.objet}}</span>
            </div>


            <div>
                <hr>
            </div>

            <div class="font-weight-bold">
                {{ template.describe|safe }}
            </div>

            <div>
                <hr>
            </div>
            <div class="container col-12 row" style="margin-righ: 100px">
                <h5 class="mr-2">Pieces jointe:  </h5>
                <div class="" style="display: flex; flex-wrap: wrap; margin: 2px;">

                    {% for item in template.request_image.all %}
                        {% if item.image_url is not None %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <a href="#" class="thumbnail" style="margin: 10px 10px 10px 10px;">
                                    <img src="{{ item.image_url }}" width="100%" alt="...">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div>
                <hr>
            </div>

            {% if not template.state %}

                {% if history.is_student and user.is_student or not history.is_student and user.is_teacher %}
                
                    <div class="d-flex justify-content-center py-3 col-12">
                        <div class="d-flex justify-content-between col-6  py-3">

                            <button type="button" id="return_student" class="btn btn-danger px-3"><i class="fas fa-window-close" aria-hidden="true"></i> envoyer
                            {% if user.is_teacher %}
                                à l'etudiant
                            {% else %}
                                au responsable
                            {% endif %}
                            </button>
                            {% if user.is_teacher %}
                                <button type="button" id="share" class="btn btn-warning px-3"><i class="fas fa-share"></i> transferer</button>
                                <button type="button" id="end_request" class="btn btn-success px-3"><i class="fas fa-check " aria-hidden="true"></i>  terminer</button>
                            {% endif %}
                        
                        </div>
                    </div>
                    
                {% endif %}
            {% else %}
                <div class="alert alert-success">
                    Aucune action ne peut plus etre mener sur cette requete. Elle a ete marquer terminer par
                    <strong>
                        {% if histories.last.responsable == user %}
                            Vous
                        {% else %}
                            {{ histories.last.responsable }}
                        {% endif %}
                    </strong>
                    .
                </div>
            {% endif %}


            <!-- Section: Timeline -->
            <section class="">
                <ul class="timeline">
                    
                    {% for history in histories %}

                        <li class="timeline-item mb-5">
                            <div class="d-flex">

                                <h5 class="fw-bold text-capitalize f-left">
                                    {% if user != history.responsable  %}
                                        {{history.responsable.last_name}} - {{history.responsable.first_name}} 
                                    {% else %}
                                        Vous
                                    {% endif %}
                                </h5>
                                <hr style="clear:both;" class=" col mx-2">
                                <div class="f-right">
                                    {{history.transfert_date.date}}
                                </div>
                            </div>

                            {% if history.reason %}
                                <p class="mb-2 fw-bold alert alert-warning">{{history.reason}}</p>
                            {% endif %}

                                                
                            {% for comment in history.request_comment.all %}
                                <div class="text-muted">
                                    <div class="d-flex justify-content-between">
                                        {% if user != comment.user  %}
                                            <span><b class="text-capitalize">{% if comment.user.is_teacher %}M. {% endif %} {{comment.user.last_name}} - {{comment.user.first_name}}    </b>{% if not comment.user.is_teacher %}(etudiant) {% endif %}</span>
                                        {% else %}
                                            <b>Vous</b>
                                        {% endif %}
                                    </div>
                                    <p>{{comment.content}}</p>
                                </div>
                            {% endfor %}

                        </li>
                        
                    {% endfor %}
                        

                </ul>
            </section>
            <!-- Section: Timeline -->

            {% if not template.state %}
                {% if history.is_student and user.is_student or not history.is_student and user.is_teacher %}
                    <div class="form-group">
                        <h5><label for="comment">Commentaire</label></h5>
                        <textarea class="form-control" id="comment" rows="5"></textarea>
                        <div class="d-flex flex-row-reverse">
                            <button type="button" id="send_comment" class="btn btn-primary mt-2">Envoyer</button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
  
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'plugins/moment/moment.js' %}" type="text/javascript"></script>
        
        <script>

            function getCookie(name) {
                let cookieValue = null;

                if(document.cookie && document.cookie != "") {
                    const cookies = document.cookie.split(";");
                    
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();

                        if (cookie.substring(0, name.length+1) === name+"=") {
                            cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            $(function() {     
                $('a.thumbnail').click(function(e) {
                e.preventDefault();
                $('#image-modal .modal-body img').attr('src', $(this).find('img').attr('src'));
                $("#image-modal").modal('show');
                });
                $('#image-modal .modal-body img').on('click', function() {
                $("#image-modal").modal('hide')
                });
            });

            // =========================> BEGIN Share
            $('#share').on( "click", function() {
                $('#share_modal').modal('show');
            });

            $('#valid_share').on( "click", function() {
                event.preventDefault();
    
                let form = new FormData();
        
                let history = {{history.id}};
                let template = {{template.id}};
                let reason = document.getElementById("describe").value;
                let teacher = document.getElementById("teacher").value;

                let url_request = "{% url 'request:transfert_request' %}"


                form.append("req", history);
                form.append("template", template);
                form.append("to_teacher", teacher);
                form.append("reason", reason);

                let request = new Request( 
                                        url_request, 
                                        {
                                            method: 'POST',
                                            body: form,
                                            headers: {
                                                "X-CSRFToken": getCookie("csrftoken")
                                            }
                                    });

                                                        
                fetch(request)
                    .then(response => response.json())
                    .then(data => {
                        window.location.replace(document.location.origin+"/teacher/")
                    })


                $('#share_modal .close').click();
            });
            // =========================> END Share



            // =========================> BEGIN Comment
            $('#send_comment').on( "click", function() {
                let comment = document.getElementById("comment");

                if(comment.value != ""){

                    let form = new FormData();
            
                    let template = "{{template.id}}";
                    let history = "{{history.id}}";
                    let url_request = "{% url 'request:post_comment' %}"
    
                    form.append("content", comment.value);
                    form.append("req", history);
                    form.append("template", template);

                    let request = new Request(
                                            url_request, 
                                            {
                                                method: 'POST',
                                                body: form,
                                                headers: {
                                                    "X-CSRFToken": getCookie("csrftoken")
                                                }
                                    })  

                    fetch(request)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("comment").value = "";
                        window.location.reload();
                        console.log(data);
                    })
                }


            });
            // =========================> END Comment



            // =========================> BEGIN back student
            $('#return_student').on( "click", function() {
                event.preventDefault();
    
                let form = new FormData();
        
                let history = "{{history.id}}";
                let template = "{{template.id}}";
                
                let url_request = "{% url 'request:change_state' %}"
        

                form.append("req", history);
                form.append("template", template);

                let request = new Request(
                                        url_request, 
                                        {
                                            method: 'POST',
                                            body: form,
                                            headers: {
                                                "X-CSRFToken": getCookie("csrftoken")
                                            }
                                })  
                fetch(request)
                    .then(response => response.json())
                    .then(data => {
                        window.location.reload();
                        console.log(data);
                    })
        
            });
            // =========================> END back student

            // =========================> BEGIN delete request
            $('#valid_end').on( "click", function() {
                let form = new FormData();
                let url_request = "{% url 'request:end_request' template.id%}"
                

                let request = new Request(
                                        url_request, 
                                        {
                                            method: 'GET',
                                            headers: {
                                                "X-CSRFToken": getCookie("csrftoken")
                                            }
                                })  
                fetch(request)
                    .then(response => response.json())
                    .then(data => {
                        window.location.reload();
                        console.log(data);
                    })
            });

            $('#end_request').on( "click", function() {
                $('#end_modal').modal('show');
            });
            // =========================> END delete request

        </script>
        
    </body>
</html>