{% load static %}


		<!-- footer of the page start here -->
		<footer id="footer" class="dark-bg pad-top-xs pad-bottom-xs">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<!-- footer logo -->
						<div class="logo pull-left">
							<a href="home.html">
								<img src="{% static 'images/logo.png' %}" alt="swam lake" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<!-- top list -->
						<ul class="list-inline text-right top-list">
							<li>
								<i class="fa fa-envelope main-color"></i>
								<strong>Contacter nous :</strong>
								<a href="mailto:delanoroosvelt733@gmail.com">delanoroosvelt733@gmail.com</a>
							</li>
							<li>
								<i class="fa fa-phone main-color"></i>
								<strong>Appeler Nous :</strong>
								<a href="tel:+237676198745">+237676198745</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<!-- footer bottom container -->
					<div class="col-xs-12 col-sm-6 bottom">
						<p>2022 © Request Manager. Tous droit reserver.</p>
					</div>
					<!-- footer bottom container -->
					<div class="col-xs-12 col-sm-6 bottom">
						<ul class="list-inline text-right mt-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer of the page end here -->