{% load static %}


							<!-- quote form start here -->
							<section class="quote-form" style="background-image: url({% static 'images/img02.jpg' %});" data-scroll-index="1">
								<h2 class="form-heading text-center text-uppercase">Se connecter</h2>
								<span class="form-title text-center">Vos compte sont cree directement par le responsavle de votre filiere. Si vous ne posseder pas un veiller le contacter.</span>
								<form id="contactForm" data-toggle="validator">
									<fieldset>
										<div class="form-group">
											<input type="text" id="name" placeholder="Votre identifiant" class="form-control" required data-error="NEW ERROR MESSAGE">
										</div>
										<div class="form-group">
											<input type="password" id="password" placeholder="Votre mot de passe" class="form-control" required data-error="NEW ERROR MESSAGE">
										</div>
										<div id="msgSubmit" class="form-message hidden"></div>
										<span class="info"><i class="fa fa-info-circle main-color" aria-hidden="true"></i>Mot de passe oublie? <a style="cursor: pointer">reinitialiser</a></span>
										<button class="btn btn-default main-bg-color" type="submit" id="form-submit">Connexion</button>
									</fieldset>
								</form>
							</section>
							<!-- quote form end here -->